body {
    background:  $primary;
    color: $text;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    overflow-x: hidden;
    width: 100vw;
}

a:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.round-corners {
    border-radius: 10px;
}

.flex-spacer {
    flex: 1;
}