.content {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    padding-bottom: 1em;
    width: 85%;
}